<div class="content-heading">
  <div> Facturas de Ventas</div>
  <div class="ml-auto">
    <%= link_to new_sales_invoice_path do %>
      <button class="btn btn-secondary" title="Nueva Factura">
        <i class="fas fa-plus text-primary fa-1x"></i>
      </button>
    <% end %>
  </div>
</div>

<div class="card card-body bg-light">
  <%= puts @filterrific.inspect %>
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="form-group row">

      <div>
        <div class="col-12">
          <label class="font-weight-bold">Ordenar por</label>
          <%= f.select :sorted_by,
                       @filterrific.select_options[:sorted_by],
                       {},
                       {:class => 'form-control'}
          %>
        </div>
      </div>

    </div>
  <% end %>
</div>

<div id="results">
  <%= render(
          partial: 'sales_invoices/list',
          locals: {sales_invoices: @sales_invoices}
      ) %>
</div>
