<div class="content-heading">
  <div> Facturas de Ventas</div>
  <div class="ml-auto">
    <%= link_to new_sales_invoice_path do %>
      <button class="btn btn-secondary" title="Nueva Factura">
        <i class="fas fa-plus text-primary fa-1x"></i>
      </button>
    <% end %>
  </div>
</div>

<table class="table table-striped table-hover w-100" id="datatable2">
  <thead>
  <tr>
    <th>
      <strong>N° FACTURA</strong>
    </th>
    <th>
      <strong>CLIENTE</strong>
    </th>
    <th>
      <strong>FECHA</strong>
    </th>
    <th>
      <strong>TOTAL</strong>
    </th>
    <th>
      <strong>ACCION</strong>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @sales_invoices.each do |sales| %>
    <tr>
      <td><%= sales.invoice_number %></td>
      <td><%= sales.client.person.name %></td>
      <td><%= sales.date.strftime("%d-%m-%Y")%></td>
      <td><%= sales.total %></td>
      <td>
        <div class="btn-group" role="group">
          <%= link_to edit_sales_invoice_path(sales) do %>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
