<div class="content-heading">
  <div class="text-align-right">
    <%= link_to sales_invoices_path do%>
      <button class="btn btn-secondary" title="Volver atras">
        <i class="fas fa-arrow-left text-primary fa-1x"></i>
      </button>
    <%end %>
  </div>
  <div class="col-8">Factura de Venta</div>
  <div class="text-align-right">
    <%= link_to sales_invoice_url(@sales_invoice, :format => :pdf) do%>
      <button class="btn btn-secondary">
        <i class="fas fa-print text-primary fa-1x"></i> Imprimir PDF
      </button>
    <%end %>
  </div>

</div>

<div class="card card-default">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-horizontal">
          <div class="form-group row">
            <div class="col-4">
              <strong>Nota de Pedido:</strong>
            </div>
            <div class="col-8">
              <input type="text" class="form-control valid" value="<%= @sales_invoice.order_ticket.ticket_number %>" disabled>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <strong>Fecha de venta:</strong>
            </div>
            <div class="col-8">
              <input type="text" class="form-control valid" value="<%= l(@sales_invoice.date.to_date, format: :long) %>" disabled>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <strong>Vendedor:</strong>
            </div>
            <div class="col-8">
              <input type="text" class="form-control valid" value="<%= @sales_invoice.employee.person.name %>" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-horizontal">
          <div class="form-group row">
            <div class="col-4">
              <strong>Timbrado</strong>
            </div>
            <div class="col-8">
              <input type="text" class="form-control valid" value="<%= @sales_invoice.stamped.number %>" disabled>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <strong>N° Factura</strong>
            </div>
            <div class="col-8">
              <input type="text" class="form-control valid" value="<%=@sales_invoice.stamped.name %> <%=@sales_invoice.invoice_number %>" disabled>

            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <strong>Deposito:</strong>
            </div>
            <div class="col-8">
              <input type="text" class="form-control valid" value="<%= @sales_invoice.deposit.description %>" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="lead bb">Datos del Cliente</p>
    <div class="row">

      <div class="col-lg-6">
        <div class="form-horizontal">
          <div class="form-group row">
            <div class="col-4">
              <strong>Nombre:</strong>
            </div>
            <div class="col-8">
              <input type="text" class="form-control valid" value="<%= @sales_invoice.client.person.name %>" disabled>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <strong>Telefono:</strong>
            </div>
            <div class="col-8">
              <input type="text" class="form-control valid" value="<%= @sales_invoice.client.person.phone %>" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-horizontal">
          <div class="form-group row">
            <div class="col-4">
              <strong>RUC:</strong>
            </div>
            <div class="col-8">
              <input type="text" class="form-control valid" value="<%= @sales_invoice.client.ruc %>" disabled>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4">
              <strong>Direccion:</strong>
            </div>
            <div class="col-8">
              <input type="text" class="form-control valid" value="<%= @sales_invoice.client.person.address %>" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table class="table mt-4">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Subtotal</th>
        <th scope="col">IVA</th>
      </tr>
      </thead>
      <tbody id="invoices-items-table">

      <% @sales_invoice.sales_invoices_items.each do |f| %>
        <tr>
          <td><%= Product.find(f.product_id).description %></td>
          <td><%= number_to_currency(f.price, :unit => "Gs", :separator => ".", :precision => 0) %></td>
          <td><%= f.quantity %></td>
          <td><%= number_to_currency(f.sub_total, :unit => "Gs", :separator => ".", :precision => 0) %></td>
          <td><%= number_to_currency(f.iva, :unit => "Gs", :separator => ".", :precision => 0) %></td>
        </tr>

      <% end %>

      <tr>
        <td><strong>Total</strong></td>
        <td></td>
        <td></td>
        <td>
          <strong>
            <%= number_to_currency(@sales_invoice.total, :unit => "Gs", :separator => ".", :precision => 0) %>
          </strong>
        </td>
        <td>
          <strong>
            <%= number_to_currency(@sales_invoice.iva, :unit => "Gs", :separator => ".", :precision => 0) %>
          </strong>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
