<%= form_with(model: cash_movement, local: true, html: { id: "cash_movement_form" }) do |form| %>
<div class="container">
  <div class="row">

    <div class="col-6">
      <label>Cliente:</label>
      <!-- <select class="custom-select"></select> -->
      <%#= form.select :client_id,
                      options_from_collection_for_select(Client.all, "id", "person_id" , form.object.client_id),
                      class: 'custom-select clients-select', name: 'load_invoices[client_id]', prompt: "Seleccionar"%>

      <%= form.text_field :client_id %>
      <%#= link_to load_client_invoices_path(1), method: :patch, remote: true do%>
         <!--button class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button-->
      <%#end%>



      <%= form_tag(load_client_invoices_path(1), remote: true, method: :head) do %>
        <%= hidden_field_tag :val %>
        <%= submit_tag "Buscar", name:'nil' %>
      <% end %>
      <br>

      <label>Caja:</label>
      <select class="custom-select"></select>

      <label>Observacion:</label>
      <!-- <input class="form-control" type="text"></input> -->
      <%= form.text_field :comments, class: 'form-control' %>
    </div>

    <div class="col-6">
      <label>TOTAL:</label>
      <!-- <input class="form-control" type="text" disabled></input> -->
      <%= form.text_field :total, class: 'form-control', :readonly => true%>

      <label>A PAGAR:</label>
      <input class="form-control" type="text" disabled></input>

      <label>SALDO:</label>
      <input class="form-control" type="text" disabled></input>
    </div>

    <table class="table mt-3">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Tipo Documento</th>
        <th scope="col">Nro. Factura</th>
        <th scope="col">Valor Total</th>
        <th scope="col">Moneda</th>
      </tr>
      </thead>
      <tbody id="invoices-table">

      </tbody>
    </table>
  </div>
  <div class="row mt-5">
    <div class="col-3">
      <label>Forma de pago:</label>
      <select class="custom-select">
        <option>Efectivo</option>
        <option>Cheque</option>
        <option>Tarjeta de Credito</option>
      </select>
    </div>

    <div class="col-4 bg-gray rounded">
      <label>Nro. Cuenta:</label>
      <select class="custom-select"></select>
      <label>Nro. Cheque:</label>
      <input class="form-control" type="text"></input>
      <label>Librador:</label>
      <select class="custom-select"></select>
    </div>
    <div class="col-3 bg-gray rounded">
      <label>Banco:</label>
      <select class="custom-select"></select>
      <label>Fecha Vencimiento:</label>
      <select class="custom-select"></select>
      <label>Fecha Emision:</label>
      <select class="custom-select"></select>
    </div>
  </div>
</div>
<% end %>
<script>
  <%#= render "selects.js" %>
  <%= render "get_client_invoices.js.erb" %>
</script>