<table class="table table-striped table-hover w-100">
  <thead>
  <tr>
  <tr>
    <th class="text-center">
      <strong>NOMBRE Y APELLIDO</strong>
    </th>
    <th class="text-center">
      <strong>CARGO</strong>
    </th>
    <th class="text-center">
      <strong>C.I.</strong>
    </th>
    <th class="text-center">
      <strong>E-MAIL</strong>
    </th>
    <th class="text-center">
      <strong>TELÉFONO</strong>
    </th>
    <th class="text-center">
      <strong>ACCIONES</strong>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @employee.each do |employee| %>
    <tr>
      <td class="text-center"><%= Person.find_by(id: employee.person_id).name %></td>
      <td class="text-center"><%= employee.charge.text %></td>
      <td class="text-center"><%= employee.ci %></td>
      <td class="text-center"><%= Person.find_by(id: employee.person_id).email %></td>
      <td class="text-center"><%= Person.find_by(id: employee.person_id).phone %></td>
      <!--td><%#= Person.find_by(id: client.person_id).address %></td-->

      <td class="text-center">
        <div class="btn-group" role="group">
          <%= link_to employee do %>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button>
          <% end %>
          <%#= link_to edit_employee_path(employee) do %>
          <!--button class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button-->
          <%# end %>
          <%= link_to employee, method: :delete, data: {confirm: '¿Estás seguro?'},
                      :remote => true, :class => 'delete_employee' do %>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-trash-alt"></i></button>
          <% end %>
        </div>
      </td>

    </tr>
  <% end %>
  </tbody>

</table>

<div class="card card-body bg-gray-lighter">
  <div>
    <%= page_entries_info employee, :model => 'employee', :class => 'align-middle' %>
  </div>
</div>

<%= will_paginate employee, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>