<p></p>
<div class="content-heading">
  <div class="text-align-right">
    <%= link_to employees_path do %>
      <button class="btn btn-secondary">
        <i class="fas fa-arrow-left text-primary fa-1x"></i>
      </button>
    <% end %>
  </div>
  <div class="col-8">Detalles del funcionario</div>
</div>

<div class="card card-default">
    <div class="card-body">
        <div class="form-group row">
          <div class="col-2">
            <strong>Nombre y Apellido:</strong>
          </div>
          <div class="col-4">
            <%= Person.find_by(id: @employee.person_id).name %>
          </div>
          <div class="col-2">
            <strong>E-mail:</strong>
          </div>
          <div class="col-4">
            <%= Person.find_by(id: @employee.person_id).email %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <strong>C.I.:</strong>
          </div>
          <div class="col-4">
            <%= @employee.ci %>
          </div>
          <div class="col-2">
            <strong>Teléfono:</strong>
          </div>
          <div class="col-4">
            <%= Person.find_by(id: @employee.person_id).phone %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <strong>Sexo:</strong>
          </div>
          <div class="col-4">
            <%= @employee.sex.text %>
          </div>
          <div class="col-2">
            <strong>Fecha de nacimiento:</strong>
          </div>
          <div class="col-4">
            <%= @employee.birth_date.strftime("%d-%m-%Y") %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <strong>Cargo:</strong>
          </div>
          <div class="col-4">
            <%=  @employee.charge.text %>
          </div>
          <div class="col-2">
            <strong>Dirección:</strong>
          </div>
          <div class="col-4">
            <%= Person.find_by(id: @employee.person_id).address %>
          </div>
        </div>

    </div>
  </div>

<!--div class="row">
  <div class="col"></div>
  <div class="col-12 col-xl-auto">
    <%#= link_to edit_employee_path do %>
      <button class="btn btn-success" type="button">Editar</button>
    <%# end %>
  </div>
</div-->
