<%= form_with(model: purchase_order, local: true) do |form| %>
  <% if purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>

      <ul>
      <% purchase_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <table class="table  table-sm">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Proveedor</th>
        </tr>
        </thead>
        <tbody>

        <% @budget_items.each do |budget| %>
          <tr>
            <td><%= budget.product.description %></td>
            <td><%= budget.requested_quantity %></td>
            <td><%= budget.price %></td>
            <td><%= budget.budget_request.provider.person.name %></td>
          </tr>
        <% end %>

        </tbody>
      </table>
    </div>
    <div class="col"></div>
  </div>

<% end %>
<%= form_tag(save_purchase_orders_purchase_orders_path, method: :post ) do %>
  <%= hidden_field_tag(:request_number, @purchaseRqst.number) %>
  <%= submit_tag "Guardar", name:'nil', class: "btn btn-sm btn-primary"%>
<% end %>
