<div class="content-heading">
  <div class="text-align-right">
    <%= link_to purchase_orders_path do%>
      <button class="btn btn-secondary" title="Volver atras">
        <i class="fas fa-arrow-left text-primary fa-1x"></i>
      </button>
    <%end %>
  </div>
  <div>Nueva Orden de Compra
  </div>
</div>
<div class="ml-auto">
  <%= form_tag(new_purchase_order_path, method: :get) do %>
    <label>N° Pedido de Compra:</label></br>
    <%= text_field_tag :request_number %>
    <%= submit_tag "Buscar", name:'nil', class: "btn btn-sm btn-primary"%>
  <% end %>
  </br>
</div>

<%if @purchase_order.state != nil %>
  <%= render 'form', purchase_order: @purchase_order %>
<%end %>


