<p id="notice"><%= notice %></p>
<div class="content-heading">
  <div> Apertura y Cierre de Caja </div>

  <div class="ml-auto">
      <%= link_to 'APERTURA DE CAJA', new_open_close_cash_path, class: "btn btn-primary" %>
  </div>
</div>

<table class="table table-striped table-hover w-100" id="datatable2">
  <thead>
    <tr>
      <th><strong>CAJERO</strong></th>
      <th><strong>FECHA DE INICIO</strong></th>
      <th><strong>MONTO DE CIERRE</strong></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @open_close_cashes.each do |open_close_cash| %>
      <tr>
        <td><%= open_close_cash.employee.person.name %></td>
        <td><%= open_close_cash.date_start %></td>
        <td><%= open_close_cash.final_ammount %></td>
        <td><%= link_to 'CERRAR', edit_open_close_cash_path(open_close_cash) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


