<%= form_with(model: client, local: true) do |form| %>
  <div class="card card-default">
    <div class="card-body">
      <%= form.fields_for :person, @person do |f| %>
        <div class="form-group row">
          <div class="col-2">
            <strong>Nombre y Apellido:</strong>
          </div>
          <div class="col-4">
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="col-2">
            <strong>E-mail</strong>
          </div>
          <div class="col-4">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <strong>R.U.C.</strong>
          </div>
          <div class="col-4">
            <%= form.text_field :ruc, class: "form-control" %>
          </div>
          <div class="col-2">
            <strong>Telefono</strong>
          </div>
          <div class="col-4">
            <%= f.text_field :phone, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-2">
            <strong>Dirección</strong>
          </div>
          <div class="col-4">
            <%= f.text_field :address, class: "form-control" %>
          </div>
        </div>
      <% end %>
      <fieldset>
        <div class="form-group row">
          <div class="col-md-4">
            <%= link_to clients_path do %>
              <button class="btn btn-secondary" type="button">Volver</button>
            <% end %>
            <%= form.submit 'Guardar nuevo cliente', class: "btn btn-primary" %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>