<div class="content-heading">
  <div> Formularios de Movimiento</div>

  <div class="ml-auto">
    <%= link_to new_movement_proof_path do %>
      <button class="btn btn-secondary">
        <i class="fas fa-plus text-primary fa-1x"></i>
      </button>
    <% end %>
  </div>
</div>

<table class="table table-striped table-hover w-100" id="datatable2">
  <thead>
  <tr>
  <tr>
    <th class="text-center">
      <strong>ENCARGADO</strong>
    </th>
    <th class="text-center">
      <strong>DEPOSITO</strong>
    </th>
    <th class="text-center">
      <strong>MOTIVO</strong>
    </th>
    <th class="text-center">
      <strong>FECHA</strong>
    </th>
    <th class="text-center">
      <strong>COMENTARIO</strong>
    </th>
    <th>
      <strong></strong>
    </th>

  </tr>
  </thead>
  <tbody>
  <% @movement_proofs.each do |movement_proof| %>
    <tr>
      <td><%= Person.find_by(id: movement_proof.person_id).name %></td>
      <td><%= movement_proof.deposit.description %></td>
      <td><%= movement_proof.movement_type.description %></td>
      <td><%= movement_proof.date %></td>
      <td><%= movement_proof.comment %></td>

      <td class="text-center">
        <div class="btn-group" role="group">
          <%= link_to movement_proof do %>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button>
          <% end %>
          <%= link_to edit_movement_proof_path(movement_proof) do %>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
          <% end %>
          <%= link_to movement_proof, method: :delete, data: {confirm: '¿Estás seguro?'},
                      :remote => true, :class => 'delete_movement_proof' do %>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-trash-alt"></i></button>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
