<%= form_with(model: budget_request, local: true) do |form| %>
  <% if budget_request.errors.any? %>
    <div id="error_explanation">
      <h2>
      <%= pluralize(budget_request.errors.count, "error") %> 
      <% if budget_request.errors.count > 1 %>
        impidieron que esta orden de cotizaci贸n sea guardada:
      <% else %>
        impidi贸 que esta orden de cotizaci贸n sea guardada:
      <% end %>
      </h2>
      <ul>
      <% budget_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card card-default">
    <div class="card-body">
      <p class="d-flex">
        <span><b>PC-
          <%= @budget_request.purchase_request.number%></b></span>
        <span class="ml-auto"><b><%=@budget_request.date.strftime("%d-%m-%Y")%></b></span>
      </p>
      <p class="d-flex">
        <span><b>Proveedor: </b><%=@budget_request.provider.person.name%></span>
      </p>
      <p class="d-flex">
        <span><b>Encargado: </b><%=@budget_request.employee.person.name%></span>
      </p>
      <p class="d-flex">
        <span><b>Estado: </b>
          <% if @budget_request.state == :finished %>
            <span class="badge badge-success"><%=@budget_request.state.text%></span>
          <%else %>
            <span class="badge badge-danger"><%=@budget_request.state.text%></span>
          <%end %>
        </span>
      </p>
      <p class="d-flex">
        <span><b>Observaci贸n: </b>
          <% if @budget_request.state == :created %>
            <%= form.text_field :comment, :size => 100, class:'comment' %>
          <%else %>
              <%= @budget_request.comment %>
          <%end %>
        </span>
      </p>

      <%= form.hidden_field :purchase_request_id %>
      <% unless @budget_request.budget_request_items.empty? %>
      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <table class="table  table-sm" >
            <thead>
            <tr>
              <th scope="col">Productos</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
            </tr>
            </thead>
            <tbody id="invoices-items-table">

            <%= form.fields_for :budget_request_items, @budget_request.budget_request_items do |f| %>
              <tr>
                <td><%= f.label :product_id, :value => Product.find(f.object.product_id).description %></td>
                <td><%= f.label :requested_quantity, class: 'requested_quantity', :value => f.object.requested_quantity %></td>
                <% if @budget_request.state == :created %>
                  <td><%= f.text_field :price, :size => 10, class: 'price' %></td>
                <%else %>
                  <td><%= f.label :price, :size => 10, class: 'price', :value => f.object.price %></td>
                  <%= f.hidden_field :price %>
                <%end %>

                <%= f.hidden_field :product_id %>
                <%= f.hidden_field :requested_quantity %>
                <%= f.hidden_field :budget_request_id %>
              </tr>

            <% end %>

            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="col"></div>
      </div>
        <%end %>
    </div>
  </div>
  <% if @budget_request.state == :created %>
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-xl-auto">
        <%= form.submit 'Guardar', class: "btn btn-success" %>
      </div>
    </div>
  <%end %>
<% end %>
