<table class="table table-striped table-hover w-100">
  <thead>
  <tr>
    <th class="text-center">
      <strong>FECHA</strong>
    </th>
    <th class="text-center">
      <strong>PROVEEDOR</strong>
    </th>
    <th class="text-center">
      <strong>RESPONSABLE</strong>
    </th>
    <th class="text-center">
      <strong>ESTADO</strong>
    </th>
    <th class="text-center">
      <strong>OBSERVACIÓN</strong>
    </th>
    <th class="text-center">
      <strong>ACCIONES</strong>
    </th>

  </tr>
  </thead>
  <tbody>
  <% budget_requests.each do |budget_request| %>
    <tr>
      <td  class="text-center"><%= budget_request.date.strftime("%d-%m-%Y") %></td>
      <td  class="text-center"><%= budget_request.provider.person.name%></td>
      <td  class="text-center"><%= budget_request.employee.person.name %></td>
      <% if budget_request.state == :finished %>
        <td  class="text-center">
          <div class="badge badge-success">
            <%=budget_request.state.text%>
          </div>
        </td>
      <%else %>
        <td  class="text-center">
          <div class="badge badge-danger">
            <%=budget_request.state.text%>
          </div>
        </td>
      <%end %>
      <td  class="text-center"><%= budget_request.comment %></td>
      <td class="text-center">
        <div class="btn-group" role="group">
          <%= link_to edit_budget_request_path(budget_request) do%>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button>
          <%end %>
        </div>
      </td>
    </tr>
  <%end%>
  </tbody>
</table>

<div class="card card-body bg-gray-lighter">
  <div>
    <%= page_entries_info budget_requests, :model => 'budget_request', :class => 'align-middle' %>
  </div>
</div>

<%= will_paginate budget_requests, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>