<%= form_with model: @role, local: true do |form| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% @role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="card card-default">

    <div class="card-body">
      <p class="lead bb"><%=@role.name %></p>
      <table class="table table-striped table-hover w-100">
        <thead class="thead-light">
        <tr class="row">
          <th class="col">
            <strong>RECURSO</strong>
          </th>
          <th class="col">
            <strong>CREAR</strong>
          </th>
          <th class="col">
            <strong>LEER</strong>
          </th>
          <th class="col">
            <strong>ACTUALIZAR</strong>
          </th>
          <th class="col">
            <strong>ELIMINAR</strong>
          </th>
          <th class="col"> </th>
        </tr>
        </thead>
      </table>
        <%=form.fields_for :permissions, @permissions do |f1| %>
          <%= render 'permission', f: f1 %>
        <%end %>
        <%= link_to_add_fields "Agregar Permiso", form, :permissions %>
    </div>
  </div>


  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-xl-auto">
      <%= form.submit 'Guardar', class: "btn btn-success" %>
    </div>
  </div>

<% end %>
<script>


</script>