<%= form_with model: @role, local: true do |form| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2>
      <%= pluralize(@role.errors.count, "error") %> 
      <% if @role.errors.count > 1 %>
        impidieron que este rol sea guardado:
      <% else %>
        impidió que este rol sea guardado:
      <% end %>
      </h2>

      <ul>
        <% @role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Descripción' %>
    <%= form.text_field :name%>
  </div>

  <div class="row">

    <div class="col-2">
      <%= form.submit 'Guardar', class: "btn btn-success" %>
    </div>
    <div class="col"></div>
  </div>

<% end %>

