<p id="notice"><%= notice %></p>
<div class="content-heading">
  <div> Formulario CPU producidas </div>

  <div class="ml-auto">
    <%= link_to new_form_path do %>
      <button class="btn btn-secondary">
        <i class="fas fa-plus text-primary fa-1x"></i>
      </button>
    <% end %>
  </div>
</div>

<table class="table table-striped table-hover w-100" id="datatable2">
  <thead>
  <tr>
    <th>
      <strong>N°</strong>
    </th>
    <th>
      <strong>ENCARGADO</strong>
    </th>
    <th>
      <strong>FECHA</strong>
    </th>
    <th>
      <strong>DEP. ORIGEN</strong>
    </th>
    <th>
      <strong>DEP. DESTINO</strong>
    </th>
    <th>
      <strong>COMENTARIO</strong>
    </th>
    <th>
      <strong>OPCIONES</strong>
    </th>

  </tr>
  </thead>
  <tbody>
  <% @forms.each do |form| %>
    <tr>
      <td><%= form.number %></td>
      <td><%= form.person.name %></td>
      <td><%= form.date.strftime("%d-%m-%Y %H:%M")%></td>
      <td><%= form.origin.description %></td>
      <td><%= form.destination.description %></td>
      <td><%= form.comments %></td>
      <td class="text-center">
        <div class="btn-group" role="group">
          <%= link_to form do%>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button>
          <%end %>
          <!--<%= link_to edit_form_path(form) do%>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
          <%end %>-->
          <%= link_to form, method: :delete, data: { confirm: '¿Estás seguro?' },
                      :remote => true, :class => 'delete_form' do%>
            <button class="btn btn-sm btn-secondary"><i class="fas fa-trash-alt"></i></button>
          <%end %>
        </div>
      </td>
    </tr>
  <%end%>
  </tbody>
</table>
