
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <%= image_tag wicked_pdf_asset_base64('company_logo.png') %>
            </td>
            <td>
              <h5>Formulario N°: <%= @form.id %></h5>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="title">
      <td colspan="4">
        <table>
          <tr>
            <td>
              <%if @form.form_type == :cpuproduced then%>
                <h1>Formulario CPU Producidas</h1>
              <%else %>
                <h1>Formulario de Solicitud de Componentes</h1>
              <%end %>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td>
              <b>Encargado/a: </b><%= @form.person.name %><br>
              <b>Depósito de origen: </b><%= @form.origin.description %><br>
              <b>Comentarios: </b><%= @form.comments %><br>
            </td>
            <td>
              <b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Creado:
              </b><%= @form.created_at.strftime('%d/%m/%Y %H:%M')%><br>
              <b>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Depósito de destino:
              </b><%= @form.destination.description %><br>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <table>
        <thead>
        <tr class="heading">
          <td>Producto Terminado</td>
          <td>Cantidad</td>
        </tr>
        </thead>
        <tbody>
        <% @form.form_items.each do |m| %>
          <tr class="center">
            <td><%= Product.find_by(id: m.product_id).description%></td>
            <td><%= m.quantity %></td>
          </tr>
        <%end %>
        </tbody>
      </table>

    </tr>

    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td></td>
            <td>
              <br><br><br><br><br>___________________________<br>
              <b>Firma del Encargado/a &nbsp &nbsp &nbsp &nbsp</b>
            </td>
          </tr>
        </table>
      </td>
    </tr>

  </table>
</div>