<p id="notice"><%= notice %></p>
<div class="content-heading">
  <div> Formulario de Solicitud de Componentes </div>

  <div class="ml-auto">
    <%= link_to new_request_proof_forms_path do %>
      <button class="btn btn-secondary">
        <i class="fas fa-plus text-primary fa-1x"></i>
      </button>
    <% end %>
  </div>
</div>

<div class="card card-body bg-light">
  <%= puts @filterrific.inspect %>
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="form-group row">

      <div>
        <div class="col-12">
          <label class="font-weight-bold">Encargado</label>
          <%= f.select :with_person_id,
                       @filterrific.select_options[:with_person_id],
                       {:include_blank => '- Todos -'},
                       {:class => 'form-control'} %>
        </div>
      </div>

      <div>
        <div class="col-12">
          <label class="font-weight-bold">Ordenar por</label>
          <%= f.select :sorted_by,
                       @filterrific.select_options[:sorted_by],
                       {},
                       {:class => 'form-control'}
          %>
        </div>
      </div>

    </div>
  <% end %>
</div>

<div id="results">
  <%= render(
          partial: 'forms/list',
          locals: {forms: @forms}
      ) %>
</div>
