<div class="content-heading">

  <div>
    Productos
  </div>

  <div class="btn-group text-align-right col-2">
    <%= link_to new_product_path do %>
      <button class="btn btn-secondary" title="Crear Producto Terminado">
        <i class="fas fa-laptop"></i>
      </button>
    <% end %>

    <%= link_to new_component_products_path do %>
      <button class="btn btn-secondary" title="Crear Componente">
        <i class="fas fa-memory"></i>
      </button>
    <% end %>
  </div>

  <div class="ml-auto">
    <%= link_to hidden_products_path do %>
      <button class="btn btn-secondary">
        <i class="fas fa-archive text-primary fa-1x"></i>
      </button>
    <% end %>
  </div>
</div>

<div class="card card-body bg-light">
  <%= puts @filterrific.inspect %>
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="form-group row">
      <div class="col-4">
        <label class="font-weight-bold">Buscar</label>
        <%= f.text_field :search_query,
                         :class => 'filterrific-periodically-observed form-control',
                          placeholder: "por nombre, categoria y marca"%>
      </div>

      <div>
        <div class="col-12">
          <label class="font-weight-bold">Marca</label>
          <%= f.select :with_brand_id,
                       @filterrific.select_options[:with_brand_id],
                       {:include_blank => '- Todos -'},
                       {:class => 'form-control'} %>
        </div>
      </div>

      <div>
        <div class="col-12">
          <label class="font-weight-bold">Categoria</label>
          <%= f.select :with_product_category_id,
                       @filterrific.select_options[:with_product_category_id],
                       {:include_blank => '- Todos -'},
                       {:class => 'form-control'} %>
        </div>
      </div>

      <div>
        <div class="col-12">
          <label class="font-weight-bold">Ordenar por</label>
          <%= f.select :sorted_by,
                       @filterrific.select_options[:sorted_by],
                       {},
                       {:class => 'form-control'}
          %>
        </div>
      </div>

    </div>

    <div class="ml-auto">
      <div>
        <%= link_to "Limpiar filtros", reset_filterrific_url, :class => 'btn btn-secondary align-middle' %>
      </div>
    </div>
  <% end %>
</div>

<div id="results">
  <%= render(
          partial: 'products/list',
          locals: {products: @products}
      ) %>
</div>