<table class="table table-striped table-hover w-100">
  <tr>
    <th class="text-center"> CODIGO DE BARRAS</th>
    <th class="text-left"> PRODUCTO</th>
    <th class="text-center"> MARCA</th>
    <th class="text-center"> PRECIO</th>
    <th class="text-center"> FECHA DE VENTA</th>
  </tr>
  <% products.each do |product| %>
    <tr>
      <td class="text-center"><%= product.bar_code %></td>
      <td class="text-left"><%= product.description %></td>
      <td class="text-center"><%= Brand.find_by(id: product.brand_id).description %></td>
      <td class="text-center"><%= product.unit_cost %></td>
      <% sales_invoices_item_id = SalesInvoicesItem.find_by(product_id: product.id).sales_invoice_id %>
      <% sales_invoice_client_id = SalesInvoice.find_by(id: sales_invoices_item_id).client_id %>
      <td class="text-center"><%= CashMovement.find_by(client_id: sales_invoice_client_id).date.strftime("%d-%m-%Y") %></td>
    </tr>
  <% end %>
</table>

<div class="card card-body bg-light d-block p-3 my-3">
  <div class="row">
    <div class="col-md-10">
      <div>
        <%= page_entries_info products, :model => 'product', :class => 'align-middle' %>
      </div>
    </div>
    <div class="col-md-2">
      <div>
        <%#= link_to "Limpiar filtros", reset_filterrific_url, :class => 'btn btn-secondary align-middle' %>
      </div>
    </div>
  </div>
</div>

<%= will_paginate products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>