<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <%= image_tag wicked_pdf_asset_base64('company_logo.png') %>
            </td>
          </tr>
          <tr>
            <td>
              <b><strong><h4>Reporte</h4></strong></b>
              <b>Balance de cajas</b>
            </td>
            <td>
              <b class="valid">Fecha: <%= Time.now.strftime("%d-%m-%Y") %></b>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <table>
        <thead>
        <tr class="heading">
          <td class="text-left">Cajero</td>
          <td class="text-left">Caja</td>
          <td class="text-center">Apertura</td>
          <td class="text-center">Cierre</td>
          <td class="text-center">Valores en efectivo</td>
          <td class="text-center">Valores en cheque</td>
          <td class="text-center">Valores en tarjeta c.</td>
          <td class="text-center">Monto inicial</td>
          <td class="text-center">Balance</td>
        </tr>
        </thead>
        <tbody>
        <% @cashes.each do |cash| %>
          <tr class="center">
            <td class="text-left"><%= Person.find_by(id: Employee.find_by(id: cash.employee_id).person_id).name %></td>
            <td class="text-left"><%= Cash.find_by(id: cash.cash_id).description %></td>
            <td class="text-center"><%= l(cash.date_start.to_date, format: :long) %></td>
            <td class="text-center"><%= l(cash.final_date.to_date, format: :long) %></td>
            <td class="text-center"><%= cash.bill_amount %></td>
            <td class="text-center"><%= cash.check_amount %></td>
            <td class="text-center"><%= cash.card_amount %></td>
            <td class="text-center"><%= cash.start_ammount %></td>
            <td class="text-center"><%= cash.balance %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </tr>

    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td></td>
            <td>
              <br><br><br><br><br>___________________________<br>
              <b>Firma del Encargado/a &nbsp &nbsp &nbsp &nbsp</b>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>