<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <%= image_tag wicked_pdf_asset_base64('company_logo.png') %>
            </td>
          </tr>
          <tr>
            <td>
              <b><strong><h4>Reporte</h4></strong></b>
              <b>Productos con Stock Mínimo</b>
            </td>
            <td>
              <b class="valid">Fecha: <%= Time.now.strftime('%d-%m-%Y') %></b>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <!--tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td>
              <b>Depósito de origen: Deposito 1</b><br>
            </td>
          </tr>
        </table>
      </td>
    </tr-->

    <tr class="information">
      <table>
        <thead>
        <tr class="heading">
          <td class="text-center">Código</td>
          <td class="text-left">Producto</td>
          <td class="text-center">Marca</td>
          <td class="text-center">Cantidad mínima</td>
          <td class="text-center">Cantidad existente</td>
        </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
          <tr class="center">
            <td class="text-center"><%= product.bar_code %></td>
            <td class="text-left"><%= product.description %></td>
            <td class="text-center"><%= Brand.find_by(id: product.brand_id).description %></td>
            <td class="text-center"><%= Stock.find_by(product_id: product.id).min_stock %></td>
            <td class="text-center"><%= Stock.find_by(product_id: product.id).quantity %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </tr>

    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td></td>
            <td>
              <br><br><br><br><br>___________________________<br>
              <b>Firma del Encargado/a &nbsp &nbsp &nbsp &nbsp</b>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>