<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title">
              <%= image_tag wicked_pdf_asset_base64('company_logo.png') %>
            </td>
          </tr>
          <tr>
            <td class="row">
              <b><h4>Reporte</h4></b>
              <td class="col">
                <b>Productos vendidos</b>
              </td>
              <td class="col">
                <b>Fecha: <%= Time.now.strftime('%d-%m-%Y') %></b>
              </td>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <table>
        <thead>
        <tr class="heading">
          <td>Código</td>
          <td>Producto</td>
          <td>Precio</td>
          <td>Fecha de venta</td>
        </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
          <tr class="center">
            <td class="text-center"><%= product.bar_code %></td>
            <td class="text-left"><%= product.description %></td>
            <!--td class="text-center"><%#= Brand.find_by(id: product.brand_id).description %></td-->
            <td class="text-center"><%= product.unit_cost %></td>
            <% sales_invoices_item_id = SalesInvoicesItem.find_by(product_id: product.id).sales_invoice_id %>
            <% sales_invoice_client_id = SalesInvoice.find_by(id: sales_invoices_item_id).client_id %>
            <td class="text-center"><%= CashMovement.find_by(client_id: sales_invoice_client_id).date.to_date.to_s(:long) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </tr>

    <tr class="information">
      <td colspan="4">
        <table>
          <tr>
            <td></td>
            <td>
              <br><br><br><br><br>___________________________<br>
              <b>Firma del Encargado/a &nbsp &nbsp &nbsp &nbsp</b>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>